<!-- begin pinch -->
<section class="section" id="pinch">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="contaniner__inner animate">
  
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">My <span class="text-span">Startup</span>: Pinch</h2>
                <a class="section__link" href="https://getpinch.com.au" target="_blank">View website <i class="ion ion-md-arrow-forward"></i></a>
              </div>
            </div>
  
            <div class="row">
                <div class="col col-4">
                    <p class="section__description">
                        Founded in 2017, Pinch is a payments platform aiming to make payments facilitation a safe and effective way of taking payments at scale.
                    </p>    
                    <p>
                        <a href="https://getpinch.com.au" target="_blank">https://getpinch.com.au</a>
                    </p>
                </div>
                <div class="col col-8">
                    <p><iframe class="reframe-me" width="560" height="315" src="https://www.youtube.com/embed/TVrEzLZUNUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end pinch -->