<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Some Notable <span class="text-span">Projects</span></h2>
              <!-- <a class="section__link" href="{{ '/projects' | relative_url }}">View all <i class="ion ion-md-arrow-forward"></i></a> -->
            </div>
            <p class="section__description">A few things I'm working on or have worked on in the past.</p>
          </div>

          <div class="row">          
            {% for project in site.projects limit:6 %}
            <article class="project col col-4 col-d-6 col-t-12">
              <div class="project__content">
                {% if project.directUrl %}
                  <a href="{{ project.directUrl }}" class="project__image" target="_blank">
                    <img class="lazy" data-src="{{site.baseurl}}/{{ project.image }}" alt="{{ project.title }}">
                  </a>
                {% else %}
                  <a href="{{site.baseurl}}{{ project.url }}" class="project__image">
                    <img class="lazy" data-src="{{site.baseurl}}/{{ project.image }}" alt="{{ project.title }}">
                  </a>
                {% endif %}
                <div class="project__info">
                  <div class="project__info-wrap">
                    <h3 class="project__title">{{ project.title }}</h3>
                  </div>
                  <div class="project__info-wrap">
                    {% if project.subtitle %}
                      <div class="project__subtitle">{{ project.subtitle }} –</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->