<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <h2>Payments engineer and Microsoft Professional Developer</h2>
            <p class="author__bio">
              I'm passionate about software development and the payments industry, and I've managed to combine the two into a startup I co-founded called <a href="https://getpinch.com.au" target="_blank">Pinch</a>. I'm always keen to chat and meet new people and I love a good beer, so feel free to hit me up if you're in Melbourne.
            </p>
            <a class="author__btn" href="#pinch">
              <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ site.data.settings.author.button__text }}
            </a>
          </div>

          <div class="author__right">
            <div class="author__image">
              <img class="lazy" data-src="{{site.baseurl}}/{{ site.data.settings.author.image }}" alt="{{site.author.name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->