---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">My Blog</h1>
        <p class="page-description">The culmination of my learnings over the years. The best way to learn is to explain to others.</p>
      </div>
    </div>
  </div>
</div>

<div class="container animate">  
  
    <div class="table-container">
      <table class="table-blog-list">
        <tbody>              
        {% if site.posts.size > 0 %}
          {% for post in site.posts offset:0 %}
            <tr>
              <td>                    
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <strong>
                    {{post.title}}
                  </strong>
                </a>
              </td>
              <td style="text-align:right;">
                {{post.date | date_to_string}}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
      </table>
    </div>
  
</div>
